html, body, .grid-container { height: 100%; margin: 0; }
body{
    background-image: url("../img/bg/table2.png");
    background-size:contain;
    background-repeat: no-repeat;
    font-family: 'Dosis', sans-serif;
    font-weight:lighter;
    overflow-x: hidden;
}
a{
  color:black;
  text-decoration: none;
}
a:hover{
  color:white;
  background-color: black;
}
.grid-container {
  display: grid;
  grid-template-columns: 0.7fr 1.3fr 1fr 1fr;
  grid-template-rows: 0.4fr 1.6fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "title title title title" "menu free-area free-area manifesto" "menu free-area free-area manifesto";
}

.menu { grid-area: menu; }
.menu img{
  display:block;
  max-height:100%;
  padding-left:0;
  padding-top: 2vh;
}
.menu #textbox1{
  z-index: 99;
  position: absolute;
  left:4vw;
  top:20vh;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  color: black;
  font-size: 1.3vw;
  font-weight:bold;
  /* -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */ */
}
.menu #textbox1 span:hover{
  cursor:pointer;
  color:white;
  background-color: black;
}
.manifesto { grid-area: manifesto; }
.manifesto img{
  display:block;
  max-height:100%;
  margin-left:-5vw;
  padding-top: 2vh;
}
.manifesto #textbox2{
  z-index: 99;
  position: absolute;
  left:0vw;
  top:25vh;
  text-align: left;
  font-family: 'Dosis', sans-serif;
  color: black;
  font-size: 1.2vw;
  font-weight:normal;
  margin-right:5vw;
  /* -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */ */
}

.free-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "videochecker rotatingcookie" "rotatingchecker videocookie";
  grid-area: free-area;
}

.rotatingchecker {
  grid-area: rotatingchecker;
  -webkit-transition: -webkit-transform 20s ease-in-out;
  -moz-transition: -webkit-transform 20s ease-in-out;
  transition:         transform 20s ease-in-out;
  /* margin-top:-3em;
  margin-left:3em; */
  transform-origin: 50% 50%;
  margin:1vw;
}
.rotatingchecker:hover {
  -webkit-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
          transform: rotate(720deg);
}
.rotatingchecker img{
  display: block;
  max-width: 100%;
}
.videochecker { grid-area: videochecker; }
.videochecker iframe{
  padding-left: 15vw;
  padding-top:2vh;
  style="border:0;"
  display: block;
  width: 50%;
  height:44%;
}
.rotatingcookie {
  grid-area: rotatingcookie;
  -webkit-transition: -webkit-transform 10s ease-in-out;
  -moz-transition: -webkit-transform 10s ease-in-out;
  transition:         transform 10s ease-in-out;
  margin:2em;
 }
 .rotatingcookie:hover {
   -webkit-transform: rotate(720deg);
   -moz-transform: rotate(720deg);
           transform: rotate(720deg);
 }
 .rotatingcookie img{
   display: block;
   max-width: 90%;
 }

.videocookie { grid-area: videocookie; }
.videocookie iframe{
  padding-left: -5vw;
  padding-top:-2vh;
  style="border:0;"
  display: block;
  width: 90%;
  height:80%;
}
.title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "main-title main-title logo" "main-title main-title logo";
  grid-area: title;
}
.title:hover{
  cursor:pointer;;
}

.main-title {
  display: grid;
  grid-template-columns: ;
  grid-template-rows: ;
  gap: 1px 1px;
  grid-template-areas: ".";
  grid-area: main-title;
}
.main-title img{
  display:block;
  max-height:120%;
  padding-left: 10vw;
  padding-top: 2vh;
}
.logo { grid-area: logo; }
.logo img{
  display:block;
  max-height:130%;
  padding-left:10vw;
  padding-top: 2vh;
}

#cookieboard {
  font-size:1.2vw;
  padding:1vw;
  width:14vw;
  height:77vh;
  overflow: scroll;
  z-index: 999;
  position: absolute;
  left:82%;
  top:18%;
  background-color: white;
  border: 1px solid #000000;
  /* border-radius: 40px 0px 40px 0px; */
}
#cookieboard img{
  display: block;
  max-width: 100%;
}
#checkerboard {
  font-size:1.2vw;
  padding-left:1vw;
  padding-right:3vw;
  width:23vw;
  height:75vh;
  overflow: scroll;
  z-index: 100;
  position: absolute;
  left:57%;
  top:19%;
  background-color: white;
  border: 1px solid #000000;
  border-radius: 40px 0px 40px 0px;
}
#checkerboard img{
  display: block;
  max-width: 100%;
}
#checkerboard iframe{
  display: block;
  width: 70%;
  height: 30%;
}
#aboutboard {
  padding:2vw;
  width:25vw;
  height:52vh;
  overflow: scroll;
  z-index: 22;
  position: absolute;
  left:3%;
  top:15%;
  font-size:1.2vw;
  font-weight:lighter;
  /* border-radius: 40px 0px 40px 0px; */
  text-align: center;
}
#maniboard {
  padding:2vw;
  width:22vw;
  height:44vh;
  overflow: scroll;
  z-index: 22;
  position: absolute;
  left:33%;
  top:30%;
  font-size:1.2vw;
  font-weight:lighter;
  /* border-radius: 40px 0px 40px 0px; */
  text-align: left;
}


/* For presentation only, no need to copy the code below */
.grid-container * {
 /* border: 1px solid red; */
 position: relative;
}

/* .grid-container *:after {
 content:attr(class);
 position: absolute;
 top: 0;
 left: 0;
} */
